<h2>Add a track</h2>

<p>{{vm.location.artistName}}</p>
    <div class="col-md-8">
      <input class="form-control" type="text" name="query" ng-model="controller.artistName" placeholder="Search spotify by artist, song or album">
      <input class="btn" type="submit" value="Search" ng-click="controller.searchSpotify(); goCats=true">
    </div>
  <div class="col-md-12"></div>

<div class="col-md-4 lastChild" ng-repeat="track in controller.selectedArtist.tracks.items">
  <div class="card-box">
    <span ng-click="controller.selectTrack(track)" ng-show="goCats">
      <img ng-src="{{track.album.images[1].url}}" ng-class="{ 'selected-class-name' : $index == controller.selectedSong }" ng-click="controller.songClicked($index)">
         <p class="card-text">{{track.name}} by {{track.artists[0].name}}</p>
    </span>
  </div>
</div>
<div class="col-md-12"></div>
<div class="col-md-6" ng-hide="message">
  <ng-map center="[51.5073509, -0.12775829999998223]" zoom="12" class="mapCanvas"></ng-map>
</div>
<div class="col-md-6">
  <form ng-submit="controller.saveLocation()" ng-show="goCats">
    <input class="form-control" type="text" name="name" placeholder="Why this place?" ng-model="controller.newLocation.name">
    <input class="form-control" places-auto-complete size=80  on-place-changed="controller.placeChanged()" types="{{controller.autocomplete.types}}">
      <input class="btn" type="submit" value="Save" ng-click="goCats=false ; message=true">
  </form>
</div>
<div ng-show="message" class="col-md-12">
<h3 >Song has been added</h3>
</div>




<h2>Locations</h2>

<div class="col-md-8">
  <div class="map">
    <map center="current-location" 
         geo-fallback-center="[50.455 , 0]"
         geo-callback="vm.locationFound()"
         zoom="8" 
         class="mapCanvas" 
         zoom-to-include-markers="false">

    <marker ng-repeat="location in vm.all" position="{{[location.location.lat, location.location.lng]}}" on-click="showInfoWindow(event, 'marker-info')">
      <info-window id="marker-info">
      <li ng-repeat="location in vm.all">
        <ul>
          <li>{{ location.name }}</li>
          <li><a ng-href="https://open.spotify.com/track/{{location.song.spotID}}" target="_blank">Play on spotify</a></li>
        </ul>
      </li>
      </info-window>
    </marker>
  </map>
</div>
</div>
<div class="col-md-4">
  <iframe ng-src="{{vm.playlistURL | trustAsResourceUrl}}" frameborder="0" allowtransparency="true" width="100%" height="400px"></iframe>
</div>

<!-- <a href="http://open.spotify.com/trackset/SETaidjsfoiasjdfoiajsdj,3WibbMr6canxRJXhNtAvLU,7ccI9cStQbQdystvc6TvxD,1j3gNx31bvz2DBuOp0M9LK,5PMNu7kMZ4msbxiKnDTOt0,"><button>Add this playlist</button></a> -->
<!-- <div>
  <ul id="locations">
    <li ng-repeat="location in vm.all">
      <ul>
        <li>{{ location.name }}</li>
        <li><a ng-href="https://open.spotify.com/track/{{location.song.spotID}}" target="_blank">Play on spotify</a></li>
      </ul>
    </li>
  </ul>
</div> -->

<!-- <div id="marker-info">
<h4>{{location.name}}</h4>
</div> -->

