html{   
  width: 100%;
}

.ng-scope{
  min-height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, p, button, a, input.btn {
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal;
}

.main {
  background-image: url('./images/brandsound.png');
  height: 280px;
}

.center{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.containerText {
  margin-top: 100px;
  z-index: 999;
  top: 50%;
}

.card-box {
  border: 2px gray solid;
  width: 304px;
  margin-bottom: 10px;
  height: 344px;
  max-height: 344px;
}

.selected {
  border: 2px red solid;
}

.text-card{
  text-overflow:ellipsis;
}

.card-text {
  padding-bottom: 10px;
}

.card-block {
  height: 50px;
}

.loginButton{
  height: 38px;
  width: 200px;
}

.brand{
  font-family: 'Titillium Web', sans-serif;
  padding: 20px;
  padding-left: 10%;
}

.selected-class-name {
 border: 3px green solid;
 margin: 0;
}

.playlist {
  height: 300px;
}

.container-fluid {
  background-color: #1d1d1d;
}

#navbar {
  border: 0;
  margin-bottom: 0px;
}

.form-control {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

#container{
  width:100%;
  min-height: 600px;
/*  padding: 100;*/
  background-image: url('./images/tape.jpeg') ;
  background-size: cover;
  background-position: center center;
}

.position {
  padding-top: 6%;
}